@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas";
  src: url("./assets/fonts/Bebas-Regular.otf") format("opentype");
}

body {
  font-family: "Bebas", sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #3c4b6a !important;
}
.slick-dots{
  position: static !important;
}